body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 54px;
    margin-bottom: 9px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

h3 {
    font-weight: 500;
}

#gitban-tour {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.affix {
    top: 20px;
}